<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 이곳에 스타일시트를 넣습니다. -->
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <!-- 이곳에 자바스크립트를 넣습니다. -->
    <script src='/bootstrap/js/bootstrap.bundle.min.js'></script>
  </body>
</html>
