<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 이곳에 스타일시트를 넣습니다. -->
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <ul id="lottoNumbers_result">

          </ul>  
        </div>
        <div class="col-6">
          <button class="btn btn-secondary m-2" id="makeNumbers">번호 생성</button>
          <button class="m-2 btn btn-primary" id="saveNumbers">저장</button>
          <button class="m-2 btn btn-danger" id="removeNumbers">리셋</button>
        </div>
      </div>
    </div>




    <!-- 이곳에 자바스크립트를 넣습니다. -->
    <script src='/bootstrap/js/bootstrap.bundle.min.js'></script>
    <script src='/javascripts/common.js'></script>
  </body>
</html>
